{% extends 'layout.html.twig' %}

{% block center %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.file) }}
        </div>
    {% endif %}
    <div id="wrapper">
        <div id="top-bar" class="row">
            <div id="posts-count" class="col-md-4 text-left">
                {{ 'posts-number'|trans({'%number%': postsNumber})|title }}
            </div>
            <div id="export-button" class="col-md-4 text-center">
                <a href="{{ path('export') }}" class="btn btn-primary" target="_blank">{{ 'export'|trans|title }}</a>
            </div>
            <div id="views-count" class="col-md-4 text-right">
                {{ 'views-number'|trans({'%number%': viewsNumber})|title }}
            </div>
        </div>
        <div id="reply-box" class="row">
            {{ form_start(form) }}
            <div id="image-title-edit" class="col-md-9">
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'id': 'image-title-input', 'placeholder': 'image-title'|trans|title}}) }}
            </div>
            <div id="image-upload" class="col-md-3 text-center">
                <span class="btn btn-primary btn-file">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file, {'attr': {'class': 'file', 'id': 'image-file-input', 'accept': 'image/jpeg,image/png,image/gif'}}) }}
                </span>
            </div>
            <div id="upload" class="col-md-12 text-center">
                {{ form_widget(form.upload, {'label': 'upload-image'|trans|title, 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        {% for post in posts %}
            {{ include('post.html.twig', { 'post': post}) }}
        {% else %}
            <div class="row text-center">
               <div class="col-md-12">
                   <span class="text-warning">{{ 'no-posts'|trans|title }}</span>
               </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forum.css') }}">
{% endblock %}

